@font-face {
    font-family: 'EULJIRO';
    src: url('../../public/fonts/BMEULJIROTTF.ttf');
}

.EULJIRO {
    font-family: 'EULJIRO', sans-serif;
    color:  #5D4037;
}

@font-face {
    font-family: 'HANNA';
    src: url('../../public/fonts/BMHANNAAir_ttf.ttf');
}

.HANNA {
    font-family: 'HANNA', sans-serif;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../../public/fonts/NanumGothic.ttf');
}

.NanumGothic {
    font-family: 'NanumGothic', sans-serif;
}

@font-face {
    font-family: 'Santana';
    src: url('../../public/fonts/Santana.ttf');
}

.Santana {
    font-family: 'Santana', sans-serif;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('../../public/fonts/omyu_pretty.ttf');
    font-weight: normal;
    font-style: normal;
}

.omyu_pretty {
    font-family: 'omyu_pretty', sans-serif;
}
@font-face {
    font-family: 'MBC-Font';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961M.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.MBC-Font {
    font-family: 'MBC-Font', sans-serif;
}