@font-face {
    font-family: 'EULJIRO';
    src: url('../../public/fonts/BMEULJIROTTF.ttf');
}

.EULJIRO {
    font-family: 'EULJIRO', sans-serif;
    color:  #5D4037;
}

@font-face {
    font-family: 'HANNA';
    src: url('../../public/fonts/BMHANNAAir_ttf.ttf');
}

.HANNA {
    font-family: 'HANNA', sans-serif;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../../public/fonts/NanumGothic.ttf');
}

.NanumGothic {
    font-family: 'NanumGothic', sans-serif;
}